body{
    background-image: url("pattern.jpg");
    
}
#kotak_margin{
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 150px;
    margin-bottom: 25px;
    background-color: white;
    border-style: solid;
    border-color: whitesmoke;
    

}
.menu{
    list-style:none;
    top: 0;
    margin:0;
    padding:0;
    text-align:right;
}
.menu li{
    float: right;
    display:inline;
}
.menu a{
    display:inline-block;
    padding:10px;
    color:black;
}
header{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}
.footer{
    color: white;
    text-align: center;
    height: 50px;
    background-color:black;
}
#logo{
    float: left;
}